/snmpmonitor.SVC/.vs/snmpmonitor.SVC/v16/Server/sqlite3/db.lock
/snmpmonitor.SVC/.vs/snmpmonitor.SVC/v16/Server/sqlite3/storage.ide
/snmpmonitor.SVC/.vs/snmpmonitor.SVC/v16/Server/sqlite3/storage.ide-shm
/snmpmonitor.SVC/.vs/snmpmonitor.SVC/v16/Server/sqlite3/storage.ide-wal
/snmpmonitor.SVC/snmpmonitor.SVC/bin/Debug
/snmpmonitor.SVC/snmpmonitor.SVC/obj/Debug
